<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588250063431-milgiij1k8h9q5rd27v63icgsgankrv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588250063431-milgiij1k8h9q5rd27v63icgsgankrv3</string>
	<key>API_KEY</key>
	<string>AIzaSyChI3Yc16tLEKafZVHz_zMpGDSI-hgqQPM</string>
	<key>GCM_SENDER_ID</key>
	<string>588250063431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuelarbibe.stocker</string>
	<key>PROJECT_ID</key>
	<string>stocker-1c763</string>
	<key>STORAGE_BUCKET</key>
	<string>stocker-1c763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588250063431:ios:a59b7ebb23beefd0c9c762</string>
	<key>DATABASE_URL</key>
	<string>https://stocker-1c763.firebaseio.com</string>
</dict>
</plist>